<h1>
    Login Page
</h1>
<form action="/login" method="POST">
    <label for="username">UserName</label><br><br>
    <input type="text" placeholder="username" id="xyz" name="username"><br><br>
    <label for="password">Password</label><br><br>
    <input type="password" id="password" name="password"><br><br>
    <button>Login</button><br><br>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">SignUp</a></li>
</ul>