<h1>
    SignUp Page
</h1>
<form action="/register" method="POST">
    <label for="username">UserName</label><br><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password</label><br><br>
    <input type="password" id="password" name="password"><br><br>
    <label for="phone">Mobile No:-</label><br><br>
    <input type="text" name="phone" id="phone"><br><br>
    <label for="telephone">TelePhone No:-</label><br><br>
    <input type="text" name="telephone" id="telephone"><br><br>
    <button>Submit</button><br><br>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>